{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Charts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Load c3.css -->
    <!-- Do not forget to add required c3 dependecies in this location, Download the latest version of C3 from here https://github.com/c3js/c3/releases/latest -->
    <link href="{% static './c3-0.7.10/c3.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static './style.css' %}">

    <!-- Load d3.js and c3.js -->
    <script src="https://d3js.org/d3.v5.js"></script>
    <!-- Do not forget to add required c3 dependecies in this location, Download the latest version of C3 from here https://github.com/c3js/c3/releases/latest  -->
    <script src="{% static './c3-0.7.10/c3.min.js' %}"></script>
    <!-- Do not forget to add required PapaParse dependecies in this location, Download latest PapaParse files from here
    https://www.papaparse.com/  -->
    <script src="{% static './PapaParse-5.0.2/papaparse.min.js' %}"></script>
</head>
<body style="background-image: linear-gradient(to right, black , white);">    

<div class="container">
  

<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">

  </div>

  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

</div>

    <script src="{% static 'script.js' %}"></script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    
</body>
</html>